body
{
    background-color:#f23b61;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }

.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    color: rgb(226, 215, 215);
    background-color: #5b3f92;
    font-size: 3rem;
}

hr
{
    border-style: dotted none none;
    border-width: 5px;
    border-color: maroon;
    height: 0px;
    width: 5%;
}

body {
    padding: 0 0px 0px 0px;
    z-index: 0; }
    .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px; }


.footer {
    background-color: #ffbc56;
    margin: 0px auto;
    padding: 20px 0px; }
#Login{
    margin:5px;
}

.ig
{
    height: 300px;
    width: 500px;
    margin: auto;
}

.container
{
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ffbc56;
}

.send
{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: blanchedalmond;
}

.send:hover
{
    background-color: salmon;
}

#cp
{
    text-align: center;
}

.hair
{
    margin-bottom: 10px;
}

.navbar
{
    position: fixed;
    width: 100%;
    z-index: +2;
    background-color: #ffbc56;
}

.card
{
    background-color: #5b3f92;
    color: white;
}

#logo
{
    height: 200px;
    width: 200px;
    margin-right: 10%;
    float: right;
}

#shopit
{
    font-size: 200%;
}

.navbar-brand 
{
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.nav-link
{
    color: white;
    font-size: 20px;
}